*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
 }
/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

 
#inicio {
    z-index: 1;
    background: url("../imagens/geoparque-serido.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;

 }

 .cabecalho_celular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .logo-centro {
    display: none;
    justify-content: center;
    margin-top: -1vh;
    margin-left: 40%;
}
.logo img{
    display: flex;
    width: 15vh;
}
.logo {
    display: flex;
    justify-content: space-between;
    
}
.texto-celular {
    display: inline;
    font-size: 2vh;
}
#check {
    display: none;
}
label {
    font-size: 3em;
    padding-right: 15px;
}
.para_tablet_pc nav {
    display: none;
}

nav ul {
    background-color: #fff;
    border-radius: 20px;
    padding: 3vh;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    z-index: 4 ;
    position: fixed;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    position: fixed;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
    padding: 1vh;
}

nav ul button {
    display: none;
    
}

.botao-entrar{
    display: none;
}


/* modifica uma propriedade, nesse caso o right, quando acionado */
#check:checked ~ ul {
    right: -25%;

}


nav ul li a {
    text-decoration: none;
    color: #0a0a0a
}

nav ul li a:hover {
    color: #ffffff;
    transform: scale(1.2);
    width: 52%;
    height:  100%;
    padding-right: 5vh;
    border-radius: 2vh;
    border: none;
    background-color: #E1481E;
    padding: 1vh;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    margin-right: 4vh;
}


nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}

.botao-en {
    display: none;
} 


.botao-entrar-portrait{
    display: flex;
    width: 12vh;
    height: 8vh ;
    padding-right: 5vh;
    border-radius: 2vh;
    border: none;
    background-color: #E1481E;
    padding: 1vh;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    margin-right: 4vh;
    margin-bottom: 2vh;
}

.botao-entrar-portrait a {
    text-decoration: none;
    color: #fff;
    font-size: 150%;
    display: flex;
    justify-content: center;
}

.nome-logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50vh;
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

/* PÁGINA 2 */

#pagina-2 {
    z-index: 1;
    background: url("../imagens/pedra.jpg") ;
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 130vh;
}


#conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.conteudo-2 {
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 100vh;
    height: 85vh;
    padding: 3vh;

   
}

.texto-2 {
    font-size: 2.20vh;
    color: black;
    border-radius: 20px;
    background-color: #F3EFEE;
    padding: 1vh;
}

h5 {
    font-size: 1.5vh;
}

.conteudo-lateral img {
    display: none;
}
#conteudo-baixo {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}
#conteudo-baixo .fundo-branco  {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

#conteudo-baixo .fundo-branco2 {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

#conteudo-baixo .fundo-branco3  {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}



@keyframes flutuar{
    0%{
        top: 0;

    }
    100% {
        top: 30px;
    }

}

#conteudo-baixo {
    display: flex;
    justify-content: space-between;
    padding-top: 0.25vh;
}

.fundo-branco, .fundo-branco2, .fundo-branco3 {
    z-index: 1;
    border-radius: 20px;
    background: #F3EFEE;
    padding: 1vh;
    height: 25vh;
    width: 15vh;
   box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
   margin-top: 0.5vh;
}

.lateral-1, .lateral-2, .lateral-3 {
    z-index: 2;
    display: inline-block;
    position: relative;
    justify-content: center;

}

.livro, .caderno, .chat {
    z-index: 3;
    padding-top: 5%;
    margin-left: 25%;
    width: 8vh;
    display: flex;
    justify-content: center;
}

.livro-texto, .caderno-texto, .chat-texto {
    display: flex;
    font-size: 2vh;
    justify-content: center;
    text-align: center;
}

/* PÁGINA 3 */

#pagina-3 {
    display: flex;
    flex-direction: column;
    background: url("../imagens/acari.jpg");
    z-index: 1;
    height: 220vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.conheca h1 {
    color: black;
    display: flex;
    padding-top: 5vh;
    text-align: center;
}

.escolas {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    place-items: center;

}

.escola1, .escola2, .escola3 {
    display: inline-block;
    width: 40vh;
    height: 60vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 1vh;
    margin-top: 10%;
    justify-content: center;


}

.escolas img {
    border-radius: 20px;
    padding: 1vh;
    width: 40vh;
}
  
.botao3 {
    display: block;
    margin-left: 35%;
    width: 12vh;
    height: 8vh ;
    border-radius: 20px;
    border: none;
    background-color: #F3EFEE;
    padding: 1vh;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    margin-right: 4vh;
}

.escolas p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 1vh;
}

/* PÁGINA 4 */

#pagina-4 {
    background: url('../imagens/rochas-serido.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    flex-direction: column;
    justify-content: space-between;

}

#video {
    display: flex;
    justify-items: center;
    width: 30vh;
    height: 50%;
    padding-left: 10%;
    padding-top: 10%;
}

/* RODAPÉ */

#rodape {
    display: flex;
    height: 50%;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

#icones {
    display: flex;
    justify-content: space-around;    
}

.titulo-apoio {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 2vh;

}


.icones {
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}
.imagens-apoio {
    display: flex;
    justify-content: center;
}


.apoio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 1vh 1vh 1vh;

}

.imagens-apoio img {
    width: 10vh;
}

.texto-apoio, .texto-apoio2, .texto-apoio3 {
    text-align: left;
    font-size: 2vh;
    font-weight: bold;
}

.texto-rodape3  {
    padding-top: 1vh;
}

#parceria {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1%

}

#parceria p {
    color: black;
    font-weight: bold;
    font-size: 2vh;
}

#parceria img {
    display: flex;
    justify-content: flex-start;
    width: 15vh;
}
#redes-sociais-id{
    display: flex;
    flex-direction: row;
    width: 20vh;
   justify-content: space-around;
}

#redes-sociais-id a p {
    display: flex;
    text-align: center;
    color: #fbf9f9;
    font-size: 2vh;
}
#redes-sociais-id a {
    text-decoration: none;
}
#parceria_e_rede-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#termos {
    display: flex;
    justify-content: center;
}

#termos a {
    text-decoration: none;
    color: #0a0a0a;
}

#termos a:hover {
    color: white;

}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){
    .nome-logo{
        padding-top: -15vh;
    }
    #check {
        display: none;
    }
    label {
        font-size: 3em;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        font-size: 5vh;
        font-weight: 500;
        color: black;
        cursor: pointer;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
        z-index: 4 ;
        position: fixed;
        list-style: none;
        right: -100%;
        width: 100%;
        transition: all 0.5s;
    }

    nav ul li {
        padding-bottom: 1vh;
    }
    
    /* modifica uma propriedade, nesse caso o right, quando acionado */
    #check:checked ~ ul {
        right: -75%;
    }
    
    nav ul li a:hover{
        color: #ffffff;
        transform: scale(1.2);       
        
    }

    nav ul li a{
        text-decoration: none;
        color: #0a0a0a;
        font-size: 4vh;
        width: 100%;
        height: 5vh ;
        border-radius: 2vh;
        border: none;
        background-color: transparent;
        padding: 1vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    }
     
    nav ul li:hover::after{
        top: 50%;
        opacity: 1;
    }
    .botao-entrar-portrait{
        display: none;
    }
    .botao-en {
        display: none;
    } 
    .botao-entrar {
        display: flex;
        width: 20vh;
        height: 12vh ;
        padding-top: 2vh;
        border-radius: 2vh;
        border: none;
        background-color: #E1481E;
        padding: 1vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
        margin-right: 4vh;
        margin-bottom: 2vh;
    }
    
    .botao-entrar a {
        text-decoration: none;
        color: #fff;
        font-size: 150%;
    }
    
    .checkbox_botao {
        display: flex;
        justify-content: space-around;
    }

    .logo img {
        width: 30vh;
    }
    /* PÁGINA 2 */
 

    #conteudo {
        display: flex;
        justify-content: space-around;
       
    }
    .conteudo-2 {
        display: flex;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 5%;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        width: 100vh;
        height: 85vh;
        

    
    }

    .texto-2 {
        font-size: 4vh;
        color: black;
        border-radius: 20px;
        background-color: #F3EFEE;
        padding: 1vh;
    }

    h5 {
        font-size: 3vh;
    }

    .conteudo-lateral img {
        display: flex;
        border-radius: 20px;
        width: 55vh;
    }
  
    #conteudo-baixo .fundo-branco  {
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;

    }

    #conteudo-baixo .fundo-branco2 {
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;

    }

    #conteudo-baixo .fundo-branco3  {
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;

    }



    @keyframes flutuar{
        0%{
            top: 0;

        }
        100% {
            top: 30px;
        }

    }

    #conteudo-baixo {
        display: none;
        flex-direction: row;
        justify-content: space-between;
    }

    .fundo-branco, .fundo-branco2, .fundo-branco3 {
        display: flex;
        z-index: 1;
        border-radius: 20px;
        background: #F3EFEE;
        height: 35vh;
        width: 20vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    }

    .lateral-1, .lateral-2, .lateral-3 {
        z-index: 2;
        display: inline-block;
        position: relative;
        justify-content: center;


    }

    .livro, .caderno, .chat {
        z-index: 3;
        padding-top: 5%;
        margin-left: 25%;
        width: 12vh;
        display: flex;
        justify-content: center;
    }

    .livro-texto, .caderno-texto, .chat-texto {
        display: flex;
        font-size: 3vh;
        justify-content: center;
        text-align: center;
    }

    /* PÁGINA 3 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    #pagina-3 {
        display: flex;
        flex-direction: column;
        background: url("../imagens/acari.jpg");
        z-index: 1;
        height: 150vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    
    .conheca h1 {
        color: black;
        display: flex;
        padding-top: 5vh;
        text-align: center;
    }
    
    .escolas {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        place-items: center;
        padding: 1%;
    
    }
    
    .escola1, .escola2, .escola3 {
        display: inline-block;
        width: 60vh;
        height: 85vh;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        margin: 1vh;
        margin-top: 10%;
        justify-content: center;
    
    
    }
    
    .escolas img {
        border-radius: 20px;
        padding: 1vh;
        width: 60vh;
    }
      
    .botao3 {
        display: block;
        margin-left: 35%;
        width: 18vh;
        height: 8vh ;
        border-radius: 20px;
        border: none;
        background-color: #F3EFEE;
        padding: 1vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
        margin-right: 4vh;
    }
    
    .escolas p {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        padding: 1vh;
    }

    /* PÁGINA 4 */

    #pagina-4 {
        background: url('../imagens/rochas-serido.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 110vh;
        flex-direction: column;
        justify-content: center;

    }

    #video {
        display: flex;
        justify-items: center;
        justify-content: center;
        width: 30vh;
        padding-left: 10%;
        padding-top: 10%;
    }

    /* RODAPÉ */

    #rodape {
        display: flex;
        height: 50%;
        width: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    }

    #icones {
        display: flex;
        justify-content: space-around;    
    }

    .titulo-apoio {
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 4vh;

    }


    .icones {
        display: flex;
        justify-content: flex-start;
        justify-content: space-around;
    }
    .imagens-apoio {
        display: flex;
        justify-content: center;
    }


    .apoio {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .imagens-apoio img {
        width: 15vh;
    }

    .texto-apoio, .texto-apoio2, .texto-apoio3 {
        display: flex;
        text-align: left;
        font-size: 3vh;
        font-weight: bold;
    }

    #texto-apoio-id {
        width: 60%;
    }

   
    #parceria {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    #parceria p {
        color: black;
        font-weight: bold;
        font-size: 4vh;
    }

    #parceria img {
        display: flex;
        width: 25vh;
    }
    #redes-sociais-id{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #redes-sociais-id a p {
        display: flex;
        text-align: center;
        color: #060606;
        font-size: 4vh;
    }
    #redes-sociais-id a {
        text-decoration: none;
    }

    #rede-social-id img {
        width: 20vh;
    }
    #parceria_e_rede-social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #texto_parceria_rede_social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #termos {
        display: flex;
        justify-content: center;
    }

    #termos a {
        text-decoration: none;
        color: #0a0a0a;
    }

    #termos a:hover {
        color: white;

    }
    


}

@media (min-width: 768px) {
    #inicioo {
        height: 120%;
    }
    .logo p{
        font-size:4vh;
    }

    .nome-logo h1{
        font-size: 5vh;
    }
    #check {
        display: none;
    }
    label {
        font-size: 5em;
        padding-right: 15px;
    }
    .para_tablet_pc nav {
        display: none;
    }
    
    nav ul {
        background-color: #fff;
        border-radius: 20px;
        padding: 3vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
        z-index: 4 ;
        position: fixed;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
        color: black;
        cursor: pointer;
        position: fixed;
        right: -100%;
        width: 100%;
        transition: all 0.5s;
        padding: 1vh;
    }
    
    nav ul button {
        display: none;
        
    }
    
    .botao-entrar{
        display: none;
    }
    
    
    /* modifica uma propriedade, nesse caso o right, quando acionado */
    #check:checked ~ ul {
        right: -25%;
    
    }
    
    
    nav ul li a {
        text-decoration: none;
        color: #0a0a0a;
        font-size: 3vh;
    }
    nav ul li {
        display: flex;
        border: none;
        background-color: #fff;
    }
    nav ul li a:hover{
        color: #ffffff;
        transform: scale(1.2);       
        
    }
    .conteudo-2{
        width: 100%;
       
    }

    #conteudo {
        display: flex;
        justify-content: space-between;
    }

    .texto-2 p  {
        font-size: 3.25vh;
    }
    .texto-2  h2 {
        font-size: 5vh;
    }

    .texto-2 h5 {
        font-size: 2.5vh;
    }

    .conteudo-lateral img{
        display: none;
    }

    #conteudo-baixo {
        display: flex;
    }

    #pagina-3{
        height: 80vh;;
    }


    .escolas {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        place-items: center;
    
    }
    .escolas {
        display: flex;
        flex-direction: row;
    }
    .escola1, .escola2, .escola3 {
        display: inline-block;
        width: 30%;
        height: 45vh;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        margin: 1vh;
        margin-top: 10%;
        justify-content: center;
    
    
    }
    
    #pagina-3 h1{
        font-size: 5vh;
    }
    .escolas img {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        padding: 1vh;
        width: 101%;
    }
    
    .botao3 {
        display: none;
        justify-content: center;
        width: 6vh;
        height: 3vh ;
        border-radius: 20px;
        border: none;
        background-color: #F3EFEE;
        padding: 1vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
        margin-right: 4vh;
    }
    
    .escolas p {
        font-size: 2.5vh;
        font-weight: bold;
        text-align: center;
        padding: 1vh;
    }

    #rodape {
        display: flex;
        height: 50%;
        width: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    }

    #icones {
        display: flex;
        justify-content: space-around;    
    }

    .titulo-apoio {
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 4vh;

    }


    .icones {
        display: flex;
        justify-content: flex-start;
        justify-content: space-around;
    }
    .imagens-apoio {
        display: flex;
        justify-content: center;
    }


    .apoio {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .imagens-apoio img {
        width: 10vh;
    }

    .texto-apoio, .texto-apoio2, .texto-apoio3 {
        display: flex;
        text-align: left;
        font-size: 2vh;
        font-weight: bold;
    }

    #texto-apoio-id {
        width: 60%;
    }

   
    #parceria {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    #parceria p {
        color: black;
        font-weight: bold;
        font-size: 2.5vh;
    }

    #parceria img {
        display: flex;
        width: 25vh;
    }
    #redes-sociais-id{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #redes-sociais-id a p {
        display: flex;
        text-align: center;
        color: #060606;
        font-size: 4vh;
    }
    #redes-sociais-id a {
        text-decoration: none;
    }

    #rede-social-id img {
        width: 20vh;
    }
    #parceria_e_rede-social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #texto_parceria_rede_social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #termos {
        display: flex;
        justify-content: center;
    }

    #termos a {
        text-decoration: none;
        color: #0a0a0a;
    }

    #termos a:hover {
        color: white;

    }
}
    

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */ 
@media (min-width: 992px){
    .conteudo-2{
        width: 50%;
       
    }

    .texto-2 p{
        font-size: 2vh;
    }

    .conteudo-lateral img{
        display: flex;
    }

    #conteudo-baixo {
        display: none;

    }

    #pagina-3 {
        height: 130vh;
    }

    .escola1, .escola2, .escola3{
        height: 80vh;
    }
    .escolas img {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        padding: 1vh;
        width: 101%;
    }
    
    .botao3 {
        display: none;
        justify-content: center;
        width: 6vh;
        height: 3vh ;
        border-radius: 20px;
        border: none;
        background-color: #F3EFEE;
        padding: 1vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
        margin-right: 4vh;
    }
    
    .escolas p {
        font-size: 4vh;
        font-weight: bold;
        text-align: center;
        padding: 1vh;
    }

    #redes-sociais-id{
        display: flex;
        flex-direction: column;
        
    }
    


}
@media (min-width: 1200px) {
    .checkbox_botao {
        display: none;
    }

    .logo p {
        display: none;
    }

    .nome-logo{
        display: none;
    }

    #para_tablet_pc nav{
        display: flex;
        margin-left: 16%;
        margin-top: -5%;
        background-color: #fff;
        border-radius: 20px;
        width: 80%;
        height: 10vh;
        padding: 1vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    } 


    a{
        text-decoration: none;
        color: black;

    }
    .abecalho_celular{
        display: none;
    }

    #para_tablet_pc nav ul li {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0.15vh 0.15vh ;
        font-size: 16px;
        font-weight: 500;
        color: black;
        cursor: pointer;
        position: relative;
    }

    #para_tablet_pc nav ul li::after{
        content: '';
        background-color: #E1481E;
        flex-direction: row;
        width:130%;
        height: 175%;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: -1;   
        opacity: 0;   
    }

    #para_tablet_pc nav ul li a:hover{
        color: white;
    }
    

    #para_tablet_pc nav ul li:hover::after{
        top: 50%;
        opacity: 1;
    }

    .botao-entrar {
        width: 12vh;
        height: 8vh ;
        padding-right: 5vh;
        border-radius: 2vh;
        border: none;
        background-color: #E1481E;
        padding: 1vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
        margin-right: 4vh;
    }


    .entre {
        color: white;
        font-size: 18px;
        font-weight: 500;

    }

    button:hover{
        transition: 0.3;
        transform: scale(1.2);
}


    #pagina-2{
        height: 110%;
    }

    .texto-2 p{
        font-size: 3.5vh;
    }
    #conteudo-baixo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .fundo-branco, .fundo-branco2, .fundo-branco3 {
        display: flex;
        padding-top: -5vh;
        z-index: 1;
        border-radius: 20px;
        background: #F3EFEE;
        height: 35vh;
        width: 20vh;
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    }

    .livro, .caderno, .chat {
        z-index: 3;
        padding-top: 5%;
        margin-left: 25%;
        width: 12vh;
        display: flex;
        justify-content: center;
    }

    .livro-texto, .caderno-texto, .chat-texto {
        display: flex;
        font-size: 3vh;
        justify-content: center;
        text-align: center;
    }
    #video {
        height: 65%;
    }
    #rodape {
        display: flex;
        height: 35%;

    }

    #parceria p {
        color: black;
        font-weight: bold;
        font-size: 2.5vh;
    }

    #parceria img {
        display: flex;
        width: 25vh;
    }
    #redes-sociais-id{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #redes-sociais-id a p {
        display: flex;
        text-align: center;
        color: #060606;
        font-size: 4vh;
    }
    #redes-sociais-id a {
        text-decoration: none;
    }

    #rede-social-id img {
        width: 120%;
    }
    #parceria_e_rede-social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #texto_parceria_rede_social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #termos {
        display: flex;
        justify-content: center;
    }

    #termos a {
        text-decoration: none;
        color: #0a0a0a;
    }

    #termos a:hover {
        color: white;

    }
}